= simple_form_for @notification, html: { class: "row notification" }, remote: true do |f|
  - if @notification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@notification.errors.count, "error")} prohibited this notification from being saved:"
      %ul
        - @notification.errors.full_messages.each do |msg|
          %li= msg

  = f.input :title
  = f.input :content
  - unless f.object.receiver_id.blank?
    = f.input :receiver_id, as: :hidden
  - else
    .input.string.required.notification_receiver
      %label.string.required= t("simple_form.labels.notification.receiver")
      = select_tag "notification[receiver_id]", options_for_select(User.exclude(current_user.id).pluck(:nickname, :id))
  = button_tag t("actions.save"), class: "waves-effect waves-light btn"
