%h1= t("notification.index.send_to_me")

= render partial: "notification_list", locals: { notifications: @send_to_me, type: "send_to_me" }

%h1= t("notification.index.send_by_me")

- unless @send_by_me
  = render partial: "notification_list", locals: { notifications: @send_by_me, type: "send_by_me" }
- else
  .block
    %span= t("notification.no_send_by_me")
    %span= link_to t("notification.action.new"), new_notification_path, remote: true
