- users.each do |user|
  .card.row.col.l4.m6.s12
    .card-image.waves-effect.waves-block.waves-light
      = image_tag user.avatar.thumb.url, class: "activator", size: "50x50"
      %span.short-desc= user.nickname

    .card-content
      %span.card-title.activator.grey-text.text-darken-4
        %span= user.language_names
        %span= user.born_at
        %i.material-icons.right more_vert
      .actions
        = link_to new_notification_path, remote: true do
          %i.material-icons chat_bubble_outline
        = link_to add_friendship_path(user), remote: true, method: 'post' do
          %i.material-icons grade
    .card-reveal
      .card-title.grey-text.text-darken-4
        %span= user.email
        %i.material-icons.right close
        %p.info
